<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxgzs.seweb.dao.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.cxgzs.seweb.model.Teacher">
    <id column="tno" jdbcType="VARCHAR" property="tno" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="tel_num" jdbcType="VARCHAR" property="telNum" />
    <result column="college" jdbcType="VARCHAR" property="college" />
    <result column="office_address" jdbcType="VARCHAR" property="officeAddress" />
    <result column="pho_url" jdbcType="VARCHAR" property="phoUrl" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
  </resultMap>
  <sql id="Base_Column_List">
    tno, name, password, gender, tel_num, college, office_address, pho_url, nickname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teacher
    where tno = #{tno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from teacher
    where tno = #{tno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cxgzs.seweb.model.Teacher">
    insert into teacher (tno, name, password, 
      gender, tel_num, college, 
      office_address, pho_url, nickname
      )
    values (#{tno,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{gender,jdbcType=INTEGER}, #{telNum,jdbcType=VARCHAR}, #{college,jdbcType=VARCHAR}, 
      #{officeAddress,jdbcType=VARCHAR}, #{phoUrl,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cxgzs.seweb.model.Teacher">
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tno != null">
        tno,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="telNum != null">
        tel_num,
      </if>
      <if test="college != null">
        college,
      </if>
      <if test="officeAddress != null">
        office_address,
      </if>
      <if test="phoUrl != null">
        pho_url,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tno != null">
        #{tno,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="telNum != null">
        #{telNum,jdbcType=VARCHAR},
      </if>
      <if test="college != null">
        #{college,jdbcType=VARCHAR},
      </if>
      <if test="officeAddress != null">
        #{officeAddress,jdbcType=VARCHAR},
      </if>
      <if test="phoUrl != null">
        #{phoUrl,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxgzs.seweb.model.Teacher">
    update teacher
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="telNum != null">
        tel_num = #{telNum,jdbcType=VARCHAR},
      </if>
      <if test="college != null">
        college = #{college,jdbcType=VARCHAR},
      </if>
      <if test="officeAddress != null">
        office_address = #{officeAddress,jdbcType=VARCHAR},
      </if>
      <if test="phoUrl != null">
        pho_url = #{phoUrl,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
    </set>
    where tno = #{tno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxgzs.seweb.model.Teacher">
    update teacher
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      tel_num = #{telNum,jdbcType=VARCHAR},
      college = #{college,jdbcType=VARCHAR},
      office_address = #{officeAddress,jdbcType=VARCHAR},
      pho_url = #{phoUrl,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR}
    where tno = #{tno,jdbcType=VARCHAR}
  </update>
</mapper>